@{
    ViewBag.Title = "Contact";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
        </div>
    </section>
}


<section class="contact">

    <p>
        This page gives one the opportunity to contact me for either help with a project or placing a work order such as:
        Painting, Stick Welding, Embedded Systems & Software Design works or repairs, Off Grid Solar Panel installation among others.
        The phone will only be operational from Saturday morning to Sunday afternoon from 11 am to 5 pm PST.
    </p>
    <div class="MyBlankSpace1"> </div>
    <p>

        Use my contact info with care and wisdom, thank you. </p>
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>702.881.9323</span>
    </p>

</section>

<section class="contact">
    <div class="MyBlankSpace1"> </div>
    <header>
        <h3>Email</h3>
    </header>

    <p>
        <span class="label">Marketing & Support:</span>
        <span><a href="mailto:louis.office2018@gmail.com">louis.office2018@gmail.com</a></span>
    </p>

</section>

<section class="contact">
    <div class="MyBlankSpace1"> </div>
    <header>
        <h3>Location</h3>
    </header>
    <p>
        Sin City<br />
        Las Vegas, NV 89119
    </p>
</section>